<?xml version="1.0" ?>
<launch>
   <arg name="gui" default="false"/>
   <arg name="model" default="model_uniform_velocity_params.yaml"/>
   <arg name="token" default="target"/>
   <arg name="timeout" default="5.0"/>

   <!-- Load the kalman filter model -->
   <rosparam command="load" file="$(find target_estimation)/models/$(arg model).yaml" ns="target_estimation"/>

   <!-- Spawn the target node -->
   <include file="$(find target_estimation)/launch/target_node_spawn.launch">
           <arg name="token" value="$(arg token)"/>
           <arg name="timeout" value="$(arg timeout)"/>
   </include>

   <!-- start plotJuggler and Rviz -->
   <group if="$(arg gui)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find target_estimation)/rviz/target_node.rviz"/>
        <node pkg="plotjuggler" type="plotjuggler" name="plotjuggler"
              args="--layout $(find target_estimation)/plot_juggler_files/kalman.xml --nosplash">
        </node>
   </group>
</launch>
